# jupyter notebook
.ipynb_checkpoints
__pycache__

# jetbrains
.idea/

# mac os
.DS_Store

# datasets
datasets/

# models
models/

# preprocessing folder
/pipeline/videos/
/pipeline/json/
/pipeline/openpose/

# open pose
openpose_for_mac.ipynb
*.mp4
*.avi

# do not commit
dncmt/

# secret key
secret.json


