# jupyter notebook
.ipynb_checkpoints
__pycache__

# jetbrains
.idea/

# mac os
.DS_Store

# datasets
datasets/

# models
models/

# preprocessing data
/serving/videos/
/serving/json/
/serving/openpose/

# open pose
openpose/
openpose_for_mac.ipynb
*.mp4
*.avi

# do not commit
dncmt/

# secret key
secret.json



